* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: aliceblue;
    flex-direction: row;
}
#views {
    display: flex;
    width: 30vw;
    height: 100%;
}
#likes {
    display: flex;
    width: 30vw;
    height: 100%;
}
#country {
    display: flex;
    width: 30vw;
    height: 100%;
}
.views {
    width: 5rem;
    height: fit-content;
}
.likes {
    width: 5rem;
    height: fit-content;
}
.country {
    width: 5rem;
    height: fit-content;
}
#country > img {
    width: 5rem;
    height: fit-content;
}
