* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: aliceblue;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100vw;
    height: 10vh;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    gap: 5vw;
}
.hed {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 30vw;
    gap: 2rem;
    padding: 1.5rem;

    z-index: 111;
}
a {
    text-decoration: none;
    width: 100%;
    height: fit-content;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.menu {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 30vw;
}
.menu > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}
a > i {
    padding: 1rem;
    font-size: 3rem;
    &:hover {
        color: rgb(146, 146, 146);
    }
}
.fa-solid {
    font-size: 2rem;
}
p {
    width: 20vw;
}
.breaker {
    transform: skewX(-15deg);
    width: 5vw;
    height: 10vh;
    background-color: aquamarine;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
        rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.break {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgb(255, 255, 255);
}
.break_n {
    width: 98%;
    height: 10vh;
    background-color: aquamarine;
    z-index: 1;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
        rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.break_m {
    transform: scale(1.05, 1.25) skewX(-15deg) skewY(-2deg);
    width: 80%;
    height: 8vh;
    background-color: aquamarine;
    z-index: 1;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
        rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.break_p {
    transform: scale(1.05, 1.25) skewX(15deg) skewY(2deg);
    width: 80%;
    height: 8vh;
    background-color: aquamarine;
    z-index: 1;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
        rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.views_box {
    width: 90vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 1rem;
}

#views {
    gap: 1rem;
    padding: 2rem;
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.views {
    width: 10vw;
    height: fit-content;
    z-index: 111;
    &:nth-child(even) {
        width: 12vw;
        height: fit-content;
    }
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
        rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.title_views {
}

.likes_box {
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
#likes {
    padding: 2rem;
    gap: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    border-radius: 10px;
}
.likes {
    z-index: 111;
    width: 10vw;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    &:nth-child(odd) {
        width: 15vw;
        height: fit-content;
    }
}
.title_likes {
}
.country_box {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem;
}
#country {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 100%;

    flex-wrap: wrap;
    gap: 3rem;
    padding: 2rem;
}
.country {
    z-index: 111;
    width: 12vw;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
        rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
        rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.title_country {
    flex-direction: column;
}

.title_country,
.title_likes,
.title_views {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    width: 20vw;
    height: 20vh;
    gap: 1rem;
    padding: 1rem;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
        rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.views,
.likes,
.country {
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
}

.views:hover,
.likes:hover,
.country:hover {
    transform: scale(1.2);
    z-index: 2;
}
